!!! 5
html
    head
        title Home Audio Control
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, user-scalable=no')
        meta(name='apple-mobile-web-app-capable', content='yes')
        meta(name='apple-mobile-web-app-status-bar-style', content='black')
        link(rel='stylesheet', href='/static/jquery.mobile-1.4.0.min.css')
        //-link(rel='stylesheet', href='/static/jquery.mobile.structure-1.4.0.min.css')
        //-link(rel='stylesheet', href='/static/jquery.mobile.theme-1.4.0.min.css')
        link(rel='stylesheet', href='/static/spksel.css')
        script(src='/static/jquery-1.10.2.min.js')
        script(src='/static/jquery.mobile-1.4.0.min.js')
        script(src='/static/spksel.js')

    body
        div(data-theme='b', data-role='header').reload-button
            h3 Home Audio Control
                button(data-icon='refresh', data-iconpos='notext')/

        div(data-role='content').my-grid
            .switch-block
                h3 Room Select
                .switch
                    label(for='room-0') LivingRoom
                    select#room-0(data-role='slider')
                        option(value='off') Off
                        option(value='on') On
                .switch
                    label(for='room-1') Bedroom
                    select#room-1(data-role='slider')
                        option(value='off') Off
                        option(value='on') On
                .switch
                    label(for='room-2') Kitchen
                    select#room-2(data-role='slider')
                        option(value='off') Off
                        option(value='on') On
                .switch
                    label(for='room-3') Pool
                    select#room-3(data-role='slider')
                        option(value='off') Off
                        option(value='on') On


        div(data-role='footer')
            h2 Created by 
              a(href='http://iceboundflame.com') David Liu

        script
            $(function() {
                loadState({{state}});
            });
